@import "../../common/style/vars";
@import "../../common/commonStyles.module";

.projectsBox {
  display: flex;
  flex-wrap: wrap;

  gap: 30px;
  justify-content: center;

 
}

.projectBox {
  width: 100%;

  display: flex;

  color: $text-color;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 100px;
  position: relative;

  .img {
    transition: 1.2s;

    transform: translateX(-500px);

     &.animation {
      transform: translateX(0);
     } 
  }

  .projectInfo {
    display: flex;
    flex-direction: column;
    transform: translateX(600px);
    opacity: 0;
    transition: 1.2s;

    gap: 20px;
    position: relative;

    &.animation {
      transform: translateX(0);
      opacity: 1;
    } 

    .projectTitle {
      font-size: 32px;
      font-weight: lighter;
    }

    .description {
      width: 100%;

      font-size: 20px;
    }

    .btns {
      display: flex;
      gap: 20px;
    
      .btn {
        align-items: center;
        background-color: $main;
        border-radius: 5px;

        display: flex;

        gap: 2px;
        justify-content: center;

        padding: 8px 16px;
        text-transform: uppercase;
      }
      
      .demo {
        background-color: unset;
        border: 2px solid white;
      }
      
      .btn:hover {
        background-color: rgb(255 255 255 / 33%);
        transform: scale(1.1);
        transition: 0.3s;
      }
      
      .icon {
        width: 25px;

        color:$text-color;
      }
    }
  }

  &:nth-child(2n) {
    flex-direction: row-reverse;

    .projectInfo {
      transform: translateX(-600px);

      &.animation {
        transform: translateX(0);
        opacity: 1;
      } 
    }
  

    .img {
      transform: translateX(500px);

      &.animation {
        transform: translateX(0);
      } 
    }
  }

  .mobileProjectImage {
    width: 24%;
  }
  
  .projectImg {
    width: 54%;

    .viewBtn {
      font-size: 30px;
      font-weight: bold;
      display: inline-block;
      padding: 8px 20px;
      color: $text-color;
      text-decoration: none;
    }
  }

@media screen and (width <= 640px) {
  .projectBox {
    width: 95%;

    gap: 15px;
    flex-direction: column;

    .projectImg, .mobileProjectImage {
      border-radius: 20px;
      position: relative;

      width: 100%;
    }

    .projectInfo {
      align-items: center;
    }

    &:nth-child(2n) {
      flex-direction: column;
    }
  }
}

  
}
