@import "../../common/style/vars";

.main {
    height: 100vh;
    position: relative;

    display: flex;
    flex-direction: row-reverse;


    .img {
        position: absolute;

        height: 800px;
        width: 500px;
        filter: opacity(0.6);
        background: right / contain no-repeat url("../../assets/img/me-photo.png");
        mask-image: linear-gradient(to top, transparent 12%, rgb(0 0 0 / 100%) 50%);
    }

    .content {
        display: flex;

        gap: 20px;
        color: $main;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        margin-right: 200px;
        flex: 1;

        .title {
            font-size: 3.4rem;
            font-weight: 600;
            text-align: center;
            text-transform: uppercase;
        } 
         
        .subTitle {
            font-size: 1.5rem;
            font-weight: lighter;
            text-transform: capitalize;
            text-align: center;
        }

        .footer {
            display: flex;
    
            gap: 20px;
            position: relative;
            top: 50px;
            flex-direction: column;
            align-items: center;
        }
    }
   
    .spanCv {
        text-transform: uppercase;
    }

}

@media ( width <= 640px) {
    .main {
        .img {
            left: 25px;
        }

        .content {
            gap: 0;
            margin-right: 0;
          justify-content: start;

            .title {
            font-size: 1.6rem;
              margin-bottom: 270px;
            }

            .subTitle {
                font-size: 1.2rem;
            margin-top: 40px;    
            }
        }
    }
}