@import "../../common/style/vars";

.main {
    height: 100vh;

    display: flex;
    gap: 18px;
    align-items: center;
    flex-direction: column;
    justify-content: center;


    .title {
        margin-bottom: 50px;

        span {
            display: block;
        }

        .title_down {
            animation: rightFadeIn 1s ease-out forwards;
            animation-delay: 0.4s;
            opacity: 0;
            transform: translateX(200%);
          }
          
          .title_up {
              animation: leftFadeIn 1s ease-out forwards;
              animation-delay: 0.4s;
              opacity: 0;
              transform: translateX(-400px);
          }
    } 

    .subTitle {
        font-size: 1.5rem;
        font-weight: bold;
        color: $main;
        animation: fadeIn 1.3s ease-out;
        text-transform: capitalize;
    }

    .spanCv {
        text-transform: uppercase;
    }

}

.particles {
    inset: 0;
    position: absolute;
    z-index: 0;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    } 

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes leftFadeIn {
    0% {
        transform: translateX(-500px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes rightFadeIn {
    0% {
        transform: translateX(500px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
