@import "../../common/style/vars";

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 30px;
}

.photo {
    width: 400px;
    height: 400px;
    background-color: rgba(0,0,0,0.55);
}

.particles {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
}
.subTitle {
    font-size: 28px;
    color: $main;
    font-weight: bold;
    text-transform: capitalize;
}
.links {
    display: flex;
    gap: 15px;
}

.link {
    display: inline-block;
    color: white;
}

.link:hover {
    transform: scale(1.3);
    transition: 0.5s;
}
.link:active {
    transform: scale(0.9);
    transition: 0.5s;
}

.downloadBtn {
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    letter-spacing: 1px;
    transition: all 0.5s;
    font-size: 18px;
    padding: 14px 32px;
    border-radius: 30px;
    cursor: pointer;
    text-transform: capitalize;
}

.downloadBtn:hover {
    background-color: rgba(255, 255, 255, 0.2);
}
.downloadBtn:active {
    transform: scale(0.9);
    transition: 0.5s;
    background-color: rgba(255, 255, 255, 0.6);
}

.spanCv {
    text-transform: uppercase;
}
