@import "./common/style/vars";

* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    margin: 0;

    padding: 0;
    z-index: 2;
}

.App {
    background-color: $dark;
    margin: 0;
    overflow: hidden;

    padding: 0;
    position: relative;
}

ul li {
    list-style: none;
}

a {
    color: $text-color;
    text-decoration: none;
}
