@import "./common/style/vars";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    z-index: 2;
}

.App {
    position: relative;
    margin: 0;
    padding: 0;
    background-color: $dark;
    scroll-behavior: smooth;
}

ul li {
    list-style: none;
}

a {
    color: $textColor;
    text-decoration: none;
}