@import "./common/style/vars";

* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    scroll-margin-top: 120px;

    padding: 0;
    z-index: 2;
}

.App {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    background-color: rgb(255 255 255);
    overflow: hidden;
    min-height: 100vh;
    

    .container {
        position: relative;
        z-index: 2;

        height: 87vh;
        margin:  0 40px;
        overflow: hidden auto;
        border-radius: 30px;
        background: $dark;
        box-shadow: -2px 0 20px 7px rgb(84 84 84 / 90%);
    }
}

ul li {
    list-style: none;
}

a {
    color: $text-color;
    text-decoration: none;
}

button {
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
