.nav {
    width: 50%;
    margin: 0 auto;
}
.list {
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.item a {
    text-decoration: none;
    text-transform: uppercase;
    color: whitesmoke;
}