@import "../../common/style/vars.scss";

.contacts {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.4);
}

.form {
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    color: $textColor;
}

.form .email, .name {
    margin-bottom: 10px;
    padding: 15px;
    height: 50px;
    font-size: 18px;
    border: 2px solid $main;
    border-radius: 20px;
}
.form .subject {
    @extend .email;
}

.form  textarea{
    min-height: 200px;
    padding: 10px;
    border: 2px solid $main;
    border-radius: 20px;
}

.form button {
    margin-top: 20px;
    padding: 15px 30px;
    border: 2px solid $main ;
    background-color: $main;
    border-radius: 20px;
    color: inherit;
    font-size: 20px;
    cursor: pointer;
}
.form div {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.formField {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.done {
    position: relative;
    display: block;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: auto;
    background-color: rgba(0, 238, 107, 0.93);
   
}
.done::before {
    content: "";
    position: absolute;
    top: 6px;
    left: 50%;
    width: 30px;
    height: 15px;
    border-style: solid ;
    border-color: rgb(19, 29, 66);
    border-width: 0 0 4px 4px;
    transform: rotate(-45deg) translate(-50%, -50%);
}